/*html {*/
    /*box-sizing: border-box;*/
/*}*/
/**, *:before, *:after {*/
    /*box-sizing: inherit;*/
/*}*/
body {
    text-align: center;

}

#centerContainer {
    padding: 20px;
    width: 800px;
    display: block;
    margin: 0px auto;
    text-align: left;
    border: 1px solid darkred;
    background-color: InfoBackground;
    margin-bottom: 300px;
}

#h1Center {
    text-align: center;
}

#contentSection {
    display: inline-block;
}

aside {
    display: inline-block;
}

.htmlCode {
    background-color: antiquewhite;
    font-family: Consolas;
    border: solid 1px burlywood;
    display: inline-block;
    margin-left: 50px;
    padding: 20px;
    width: 400px;
}

div.boxBase {
    margin-left: 50px;
    width: 300px;
    height: 200px;
    /*text-align: center;*/
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: white;

}

div.innerBox {

    position: relative;
    margin: auto;
    width: 200px;
    height: 100px;
    background-color: lightblue;
    vertical-align: middle;
}
div.step2{
    width: 160px;
    height: 60px;
    padding: 20px;
    background-color: thistle;
}
div.paddingBox{
    display: block;
    background-color: lightblue;
    height: 60px;
}
div.step3{
    border: 4px solid black;
}
div.step4{
    margin: auto;
    position: relative;
    vertical-align: middle;
    display: flex;
    align-items: center;
    background-color: darkseagreen;
    width: 228px;
    height: 128px;
}
td{
    width: 90px;
}