body{
    font-family: "Segoe UI","Open Sans", serif;
    font-size: 10pt;
}

.root > .folder {
    color: red;
    cursor: pointer;
    /*display: inline-block;*/
    /*float: left;*/
}

.root > a:link{
    color: white;
    text-decoration: none;
}
.root > a:visited{
    /*color: white;*/
    text-decoration: none;
}