body{
    font-family: "Segoe UI","Open Sans", serif;
    font-size: 10pt;
}

.root > .folder {
    color: black;
    cursor: pointer;
    /*display: inline-block;*/
    /*float: left;*/
}

.root > a:link{
    color: black;
    text-decoration: none;
}
.root > a:visited{
    color: black;
    text-decoration: none;
}